@model TrekSurfing.Web.Models.ProfileViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <title>@Html.DisplayFor(model => model.UserName)</title>
</head>
<body>
    <div>
        @Html.DisplayFor(model => model.UserName)
    </div>
    <div>
        @Html.DisplayFor(model => model.Email)
    </div>
    <div>
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
    <div>
        <a href="@Url.Action("EditProfile", "User", new { id = Model.Id })"><b>Редагувати профіль</b></a>
    </div>
</body>
</html>
