@model TrekSurfing.Web.Models.TrekEvent
@using TrekSurfing.Web.Models;

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@Model.Name</h2>
        <h3>@ViewBag.AverageScore</h3>
        @if (this.User.IsInRole("Administrator"))
        {
            if (!Model.Confirmed)
            {
                using (Html.BeginForm("ChangeEventConfirmation", "Event", FormMethod.Get))
                {
                    @Html.Hidden("id", Model.Id)
                    @Html.Hidden("confirmed", true)
                    <input type="submit" class="btn btn-default btn-xs btn-primary" value="Confirm" />
                }
            }

            using (Html.BeginForm("DeleteEvent", "Admin", FormMethod.Post))
            {
                @Html.Hidden("id", Model.Id)
                <input type="submit" class="btn btn-default btn-xs btn-danger" value="Delete" />
            }
        }
    </div>
    <div class="panel-body">
        <table class="table">
            @if (Model.Image != null)
            {
                <tr>
                    <td colspan="2">
                        <img src="/Event/RetrieveImage/@Model.Id" alt="" height=200 />
                    </td>
                </tr>
            }
            <tr>
                <td>Owner:</td>
                <td><a href="/User/ViewProfile/@Model.Owner.Id">@Model.Owner.UserName</a></td>
            </tr>
            <tr>
                <td>Starts:</td>
                <td>@Model.Starts</td>
            </tr>
            <tr>
                <td>Ends:</td>
                <td>@Model.Ends</td>
            </tr>
            <tr>
                <td colspan="2">Description:<br />@Model.Description</td>
            </tr>
            <tr>
                <td colspan="2">
                    Route:<br />
                    <iframe src="@Model.Route" style="width: 100%; height: 500px;"></iframe>
                </td>
            </tr>
        </table>
        @if (this.User.IsInRole("Administrator"))
        {
            using (Html.BeginForm("DeleteEvent", "Admin",
                                    new { id = Model.Id }))
            {
                <button class="btn btn-danger btn-xs"
                        type="submit"
                        onclick="return confirm('Are you sure you wish to delete this event?')">
                    Delete
                </button>
            }
        }

        <div>
            <h3>Reviews</h3>
            <table class="table">
                @foreach (var review in Model.Reviews)
                {
                    <tr>
                        <td><i>@review.Author.FirstName @review.Author.SecondName</i></td>
                        <td>@review.Score</td>
                    </tr>
                    <tr>
                        <td colspan="2">@review.Message</td>
                    </tr>
                }
            </table>
        </div>
        @if (Request.IsAuthenticated)
        {
        <div>
            <h3>Submit a review</h3>
            @using (Html.BeginForm("Index", "Review", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    Score: 
                    <div>
                        1. @Html.RadioButton("Score", 1)
                        2. @Html.RadioButton("Score", 2)
                        3. @Html.RadioButton("Score", 3)
                        4. @Html.RadioButton("Score", 4)
                        5. @Html.RadioButton("Score", 5)
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.TextArea("Message");
                    </div>
                </div>
                @Html.Hidden("TargetId", Model.Id);
                <input type="submit" class="btn btn-default" value="Submit" />
            }
        </div>
        }
    </div>
</div>